:javascript
  
  var canvas = document.getElementById("neoviz");

  var myGraph; // a reference to the graph to make it available to the outside world

  var p = Processing(canvas);

  var vizid = 0

   updateCanvas = function(data){
      var context = canvas.getContext('2d');
      context.clearRect(0, 0, canvas.width, canvas.height);
       $("#path li").remove();
      resourceId = data;
      p.resourceId = data; 
      p.setup();      
      p.draw();

      vizid = data;
      
  }

  refreshNode = function() { 
        
        var src = $(this).attr('ref');
        updateCanvas(src);
        return false; // prevent default
      }

  $(document).ready(function() {  
      var options = { 
        success:function(response) {
        $('#explanation').html("<h2> Result List </h2>"+response)
        }
      }
      $('#queryform').ajaxForm(options);
      $('#explanation').on('click', 'a.nodelink', refreshNode);
      
  }); 

  function loadvisualization() {
    $("#path li").remove();
    p.setup();
  };

  init_graph_display =
  function() {
    
    function canvasSupported() {
      var canvas_compatible = false;
      try {
       canvas_compatible = !!(document.createElement('canvas').getContext('2d')); // S60
      } catch(e) {
       canvas_compatible = !!(document.createElement('canvas').getContext); // IE
      }
      return canvas_compatible;
    }

    if (canvasSupported()) {
      var initialized = false;
        
      // init
      p.resourceId = vizid;

      p.init(p.ajax("/js/pjs/physics.pjs")+p.ajax("/js/pjs/donut.pjs")+p.ajax("/js/pjs/resource.pjs")+p.ajax("/js/pjs/node.pjs")+p.ajax("/js/pjs/edge.pjs")+p.ajax("/js/pjs/graph.pjs")+p.ajax("/js/pjs/network.pjs"));

      initialized = true;
      
      $(window).resize(function(){
        p.resize();
        Attributes.adjustHeight();
      });
    } else {
      $('#browser_not_supported').show();
      $('#explanation').hide();
    }
  }
  $(init_graph_display());
